@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
    font-family: 'Fredoka One', cursive;
}

h2, h3, p, span {
    font-family: 'Montserrat', sans-serif;
    color: dimgrey;
}

a:hover {
    text-decoration: none;
    color: transparent;
}

input {
    width: 100%;
    border: 2px solid #ff9900;
    border-radius: 10px;
    padding: 10px;
    font-size: 2vh;
}


.header {
    height: 10vh;
    margin-bottom: 3vh;
}

.header-text {
    font-size: 5vh;
    background: linear-gradient(to right, #ff3366, #ff9900);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main {
    height: calc(100vh - 20vh);
}

.footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-caption {
    font-size: 2vh;
}

.button {
    background-color: #ff9900;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 3vh;
    width: 100%;

    transition: transform 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.05); /* Увеличиваем размер кнопки при наведении на нее */
}

.image {
    max-width: 300px;
    max-height: 200px;
    border: #ff9900;
    border-radius: 30px;
}

.like .dislike {
    border: none;
}

.like:hover .dislike:hover {
    border: none;
}